
__pycache__/VideoDataset.cpython-311.pyc
__pycache__/model.cpython-311.pyc
wandb/run-20240728_081457-ny56b2s7/run-ny56b2s7.wandb
wandb/*
*.log
recon_epoch_1.png
*.pth
*.png
__pycache__/vit.cpython-311.pyc
__pycache__/helper.cpython-311.pyc
actions-runner/*
imf_encoder.onnx
imf_encoder_web.onnx
tfjs_imf_encoder/group1-shard1of1.bin
tfjs_imf_encoder/weights.bin
tfjs_imf_encoder/model.onnx
tfjs_imf_encoder/modelsimple.onnx
tf/wandb/*
tf/checkpoints/*
tf/__pycache__/*
keras_imf_encoder.h5
nobuco/*
implicit_motion_alignment/fingerprint.pb
implicit_motion_alignment/keras_metadata.pb
implicit_motion_alignment/saved_model.pb
implicit_motion_alignment/variables/variables.data-00000-of-00001
implicit_motion_alignment/variables/variables.index
test/group1-shard1of6.bin
test/group1-shard2of6.bin
test/group1-shard3of6.bin
test/group1-shard4of6.bin
test/group1-shard5of6.bin
test/group1-shard6of6.bin
test/model.json
imf/fingerprint.pb
imf/keras_metadata.pb
imf/saved_model.pb
imf/variables/variables.data-00000-of-00001
imf/variables/variables.index
ai-edge-torch/
*.bin
*.pb
graph_model_client/model.json
graphmodel/model.json
imf_client/variables/variables.data-00000-of-00001
imf_client/variables/variables.index
graphmodel/model.json
graphmodel/model.json
