
__pycache__/VideoDataset.cpython-311.pyc
__pycache__/model.cpython-311.pyc
wandb/run-20240728_081457-ny56b2s7/run-ny56b2s7.wandb
wandb/*
*.log
recon_epoch_1.png
*.pth
*.png
__pycache__/vit.cpython-311.pyc
__pycache__/helper.cpython-311.pyc
actions-runner/*
imf_encoder.onnx
imf_encoder_web.onnx
tfjs_imf_encoder/group1-shard1of1.bin
tfjs_imf_encoder/weights.bin
