
git+https://github.com/johndpope/colored-traceback.py.git

torch
torchvision
tqdm
wandb
PyYAML
accelerate
omegaconf
lpips
transformers
einops
moviepy
onnxruntime
opencv-python
pymatting
decord
mediapipe

onnx 
onnxconverter_common


git+https://github.com/alexlee-gk/lpips-tensorflow.git

git+https://github.com/johndpope/onnx-tensorflow


--extra-index-url https://pypi.ngc.nvidia.com
onnx_graphsurgeon